@import "tailwindcss";


:root {
  --foreground: #ffffff;
  --background: #171717;
  --font-group: 
}

body {
  background-color: var(--background);
  color: var(--foreground); 
}

.gruppo {
  font-family: var(--font-gruppo);
}


